---
---

@import "{{ site.theme }}";

div.note {
  color: white;
  padding: 10px 10px 10px 10px;
  background: #4276b6;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px #f0b500;
}

span.note-text {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
}
